@import "tailwindcss";

.about {
    background-image: url('./assets/map.png');
    background-size: cover;
    background-position: left 0px top 25%;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    padding: 90px 50px 0;
}